table {
    border-collapse: collapse;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

th {
    font: 40px "Garamond";
    color:  #FFFFFF;
    border: 2px solid #666666;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.stars-th {
    padding-right: 15px;
    padding-left: 15px;
}

td {
    font-size: 30px;
    font: "Garamond";
    border: 2px solid #666666;
    text-align: center;
}

.tr-clickable {
    cursor: pointer;
}

.title-td {
    font: "Garamond";
    font-weight: bold;
    font-style: italic;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.stars {
    background: none;
    font-weight: bold;
    padding: 0;
    border: none;
    outline: none;
    display:inline;
    overflow: hidden;
}

.star-icon {
    height: 30px;
}

/*__________________________________________________________ Adjustments to make design mobile friendly ______________________________________________________*/

@media only screen and (max-width: 850px) {
    th {
        font-size: 38px;
    }
    
    td {
        font-size: 28px;
    }
}

@media only screen and (max-width: 800px) {
    th {
        font-size: 35px;
    }
    
    td {
        font-size: 25px;
    }
}

@media only screen and (max-width: 750px) {
    th {
        font-size: 30px;
    }
    
    td {
        font-size: 20px;
    }

    .star-icon {
        height: 22px;
    }
}

@media only screen and (max-width: 620px) {
    th {
        font-size: 22px;
    }
    
    td {
        font-size: 17px;
    }

    .star-icon {
        height: 18px;
    }
}

@media only screen and (max-width: 530px) {
    th {
        font-size: 20px;
    }
    
    td {
        font-size: 15px;
    }

    .star-icon {
        height: 15px;
    }
}

@media only screen and (max-width: 490px) {
    th {
        font-size: 17px;
        border-width: 1px;
    }
    
    td {
        font-size: 13px;
        border-width: 1px;
    }
}

@media only screen and (max-width: 390px) {
    .stars-th {
        padding-right: 7px;
        padding-left: 7px;
    }
    
    th {
        font-size: 16px;
        padding-right: 7px;
        padding-left: 7px;
    }
    
    td {
        font-size: 12px;
    }

    .star-icon {
        height: 12px;
    }
}

@media only screen and (max-width: 340px) {
    .stars-th {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    th {
        font-size: 15px;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    td {
        font-size: 11px;
    }

    .star-icon {
        height: 10px;
    }
}

@media only screen and (max-width: 310px) {
    .stars-th {
        padding-right: 4px;
        padding-left: 4px;
    }
    
    th {
        font-size: 13px;
        padding-right: 4px;
        padding-left: 4px;
    }
    
    td {
        font-size: 10px;
    }

    .star-icon {
        height: 10px;
    }
}